body{background-color:#fafafc;}

.signup_top{position:fixed;top:0;left:0;right:0;padding:30px 30px;}
.signup_top > img:first-child{width:110px;height:34px;}
.signup_top .right_btn > a{padding-left:47px;font-size:28px;color:#111;background-position:0 0;}
.signup_top .right_btn > a:hover{color:#4741b2;background-position:0 -85px;}
.signup_wrap{position:relative;width:600px;margin:0 auto;padding:180px 0;text-align:center;}
.signup01{width:404px;margin:0 auto;padding-top:40px;text-align:center;}
.signup01 > img:first-child{margin-bottom:55px;}
.signup_btn01{
	display:inline-block;min-width:356px;height:80px;line-height:76px;padding:0 23px;
	text-align:center;color:#fff;font-size:20px;
	text-shadow:#4b44a7 1px 1px 1px;
	filter:shadow(color=#4b44a7, direction=180, strength=1px); zoom:1;
	border-radius:3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;behavior: url(../PIE-1.0.0/pie.htc);
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+47,a1dbff+100;Blue+3D+%2313 */
background: #6963c4 ; /* Old browsers */
background: -moz-linear-gradient(top,  #6963c4 0%, #5a54b5 50%, #524cad 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6963c4), color-stop(50%,#5a54b5), color-stop(100%,#524cad)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #6963c4 0%,#5a54b5 50%,#524cad 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #6963c4 0%,#5a54b5 50%,#524cad 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #6963c4 0%,#5a54b5 50%,#524cad 100%); /* IE10+ */
background: linear-gradient(to bottom,  #6963c4 0%,#5a54b5 50%,#524cad 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6963c4', endColorstr='#524cad',GradientType=0 ); /* IE6-9 */
}
.signup_btn01.small{
	min-width:70px;height:60px;line-height:56px;padding:0 15px;
}
.signup_btn01:hover{
	color:#fff;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+47,a1dbff+100;Blue+3D+%2313 */
background: #6058d4 ; /* Old browsers */
background: -moz-linear-gradient(top,  #6f67e3 0%, #5f57d3 50%, #5850cc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6f67e3), color-stop(50%,#5f57d3), color-stop(100%,#5850cc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #6f67e3 0%,#5f57d3 50%,#5850cc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #6f67e3 0%,#5f57d3 50%,#5850cc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #6f67e3 0%,#5f57d3 50%,#5850cc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #6f67e3 0%,#5f57d3 50%,#5850cc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f67e3', endColorstr='#5850cc',GradientType=0 ); /* IE6-9 */
}
.signup_btn02{
	display:inline-block;min-width:356px;height:78px;line-height:76px;padding:0 22px;
	text-align:center;color:#333;font-size:20px;
	text-shadow:#ffffff 1px 1px 1px;
	filter:shadow(color=#ffffff, direction=180, strength=1px); zoom:1;
	border:1px solid #e5e6e9;
	border-radius:3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;behavior: url(../PIE-1.0.0/pie.htc);
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+47,a1dbff+100;Blue+3D+%2313 */
background: #f9f9f9 ; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f9f9f9 47%, #f5f5f5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f9f9f9), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f9f9f9 47%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f9f9f9 47%,#f5f5f5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f9f9f9 47%,#f5f5f5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f9f9f9 47%,#f5f5f5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff ', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
}
.signup_btn02:hover{
	color:#333;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+47,a1dbff+100;Blue+3D+%2313 */
background: #f7f7f7 ; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f7f7f7 47%, #f2f2f2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f7f7f7), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f7f7f7 47%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f7f7f7 47%,#f2f2f2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f7f7f7 47%,#f2f2f2 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f7f7f7 47%,#f2f2f2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff ', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}
.signup01 > .signup_btn01+.signup_btn02{margin-top:15px;}

.signup_wrap dl{padding-top:100px;text-align:left;}
.signup_wrap dt{padding-bottom:25px;font-size:26px;color:#333;}
.signup_wrap dd input[type=text]{
	width:480px;height:58px;line-height:54px;margin-right:10px;
	color:#111;font-size:20px;text-indent:20px;
	border:1px solid #e7e8eb;
	border-radius:3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;behavior: url(../PIE-1.0.0/pie.htc);
	background-color:#fff;
}
.signup_wrap dd.error{padding:10px 0 0 20px;font-size:14px;color:#e93030;font-style:oblique;}
.signup_wrap dl.serch{padding-top:0;}
.signup_wrap dl.serch strong{color:#5f5ab9;}
.signup_wrap dl.serch dt{padding-bottom:35px;font-style:oblique;border-bottom:1px solid #e5e6e9;}
.signup_wrap dl.serch dd{position:relative;height:77px;padding:23px 0 0 15px;border-bottom:1px solid #e5e6e9;}
.signup_wrap dl.serch dd:hover{background-color:#f4f5f7;}
.signup_wrap dl.serch dd > p{font-size:18px;color:#111;font-weight:bold;}
.signup_wrap dl.serch dd > div{margin-top:5px;color:#c0c0c0;font-size:16px;}
.signup_wrap dl.serch dd > div > span:first-child{margin-right:25px;}
.signup_wrap dl.serch dd > a{
	display:block;position:absolute;top:25px;right:0;
	width:98px;height:48px;line-height:48px;
	font-size:18px;color:#505050;font-weight:bold;text-align:center;
	border:1px solid #e7e8eb;
	border-radius:25px;-moz-border-radius: 25px;-webkit-border-radius: 25px;behavior: url(../PIE-1.0.0/pie.htc);
}

/* Webkit */
.signup_wrap dd input[type=text]::-webkit-input-placeholder {color: #a2a2a2;}
/* Firefox 4-18 */
.signup_wrap dd input[type=text]:-moz-placeholder {color: #a2a2a2; }
/* Firefox 19+ */
.signup_wrap dd input[type=text]::-moz-placeholder {color: #a2a2a2; }
/* IE10+ */
.signup_wrap dd input[type=text]:-ms-input-placeholder {color: #a2a2a2; }


.signup_wrap > .nog{margin:100px 0 80px 0;color:#909090;font-size:26px;font-style:oblique;}
/* 20160304 추가 */
.signup_wrap > .admin{position:relative;margin-top:-50px;margin-bottom:60px;line-height:16px;text-align:center;}
.signup_wrap > .admin img{vertical-align:top;display:inline-block;width:40px;height:40px;}
.signup_wrap > .admin div{vertical-align:top;display:inline-block;}
.signup_wrap > .admin strong{display:block;text-align:center;margin-bottom:10px;font-size:18px;color:#111;}
.signup_wrap > .admin span{display:block;text-align:center;font-size:16px;color:#c0c0c0;}

/* 비밀번호 보이기 / 숨기기 */

.password-mask {
	display: none;
	position: absolute;
	top: 20px;
	right: 38px;
	width: 18px;
	height: 14px;
	background-image: url(/joins_flow/joins_img/btn_mask_off.png);
	background-repeat: no-repeat;
}
.password-mask.on {
	display: block;
}
.password-mask.active {background-image: url(/joins_flow/joins_img/btn_mask_on.png);}

.fl-content .password-mask{
	top: 18px;
	right: 46px;
}